.button {
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  border: none; }
  .button:hover {
    color: white !important;
    background-color: #1E90FF !important; }

.button_round {
  border-radius: 25px;
  background: #228B22 !important; }

.paragraph__all {
  font-size: 25px;
  font-weight: 400; }
  @media (max-width: 479px) {
    .paragraph__all {
      font-size: 20px; } }

.title__all {
  font-size: 60px;
  font-weight: 600; }
  @media (max-width: 479px) {
    .title__all {
      font-size: 30px; } }

.ban__all {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #228B22;
  overflow: hidden;
  color: white;
  text-transform: capitalize; }
  .ban__all .paragraph__all {
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 600; }
    @media (max-width: 479px) {
      .ban__all .paragraph__all {
        padding: 15px;
        text-align: center; } }

.img_bg__all img {
  position: relative;
  padding: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%; }

.hero__section {
  position: relative;
  margin: 0;
  padding-bottom: 70px;
  overflow: hidden;
  height: 600px;
  background-image: url("../../../assets/images/bg-1.jpg");
  background-position: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white; }
  @media (max-width: 479px) {
    .hero__section {
      height: 500px; } }
  .hero__section .title__all {
    padding-bottom: 30px; }
    @media (max-width: 479px) {
      .hero__section .title__all {
        padding-bottom: 15px; } }
  .hero__section .paragraph__all {
    padding-bottom: 30px; }
    @media (max-width: 479px) {
      .hero__section .paragraph__all {
        padding-bottom: 15px; } }
  .hero__section .btn-cont {
    padding-bottom: 30px; }
    @media (max-width: 479px) {
      .hero__section .btn-cont {
        padding-bottom: 15px; } }
  .hero__section .ban__all {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%; }
    .hero__section .ban__all .paragraph__all {
      padding-bottom: 15px; }
  .hero__section .img_bg__all {
    z-index: 3; }

.line {
  display: block;
  position: relative;
  width: 100%;
  height: 0.5px;
  border: 0.5px solid #228B22; }

.footer__card__all {
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 30px; }
  @media (max-width: 479px) {
    .footer__card__all {
      margin: 0; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .footer__card__all {
      margin-top: 0; } }
  .footer__card__all .icon__all {
    margin-top: 10px;
    margin-bottom: 10px; }
  .footer__card__all .title__all {
    color: white;
    font-size: 25px;
    margin-bottom: 10px;
    text-transform: uppercase; }
    .footer__card__all .title__all:hover {
      color: #228B22; }
  .footer__card__all .paragraph__all {
    color: white;
    font-size: 20px;
    text-overflow: ellipsis;
    margin-bottom: 10px;
    font-weight: 300;
    text-align: justify-center; }

.icon__all:hover svg {
  color: #1E90FF; }

.line_icon__all {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }
  .line_icon__all .icon__all {
    padding: 15px; }

.copyright__all {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  color: white; }
  .copyright__all .paragraph__all {
    font-size: 18px;
    font-weight: 300; }
    .copyright__all .paragraph__all a {
      font-weight: normal; }

.footer__section {
  background-color: #1B1212;
  bottom: 0;
  left: 0;
  right: 0;
  position: relative;
  overflow: hidden; }

html, body {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: white; }
  a:hover {
    color: #1E90FF; }

/*# sourceMappingURL=index.css.map */
