// color : 
$tmc-color-prim: #228B22;
$tmc-color-sec: #1E90FF;
$tmc-bg-color: #1B1212;
$tmc-color-third: #A9A9A9;
$tmc-color-btn: white;

// weight : 
$tmc-font-weight: 600;
$tmc-simple-weight:400;
$tmc-font-weight-line: 300;

// padding : 
$tmc-padding: 10px;
$tmc-content-padding: 30px;
$tmc-content-padding-md: 15px;
$tmc-section-padding: 70px;

// font-size 
$tmc-font-size: 18px;
$tmc-p-font-size: 25px;
$tmc-p-font-size-md: 20px;
$tmc-h1-font-size: 45px;
$tmc-h2-font-size-md: 30px;
$tmc-h2-font-size: 35px;
$tmc-h2-font-size-md: 25px;
$tmc-big-font-size: 60px;
$tmc-big-font-size-md: 30px;