@import "var";
@import "./sections/hero_section";
@import "./sections/footer_section.scss";
@import "./sections/about_section.scss";

html , body {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: $tmc-color-btn;
    &:hover {
        color: $tmc-color-sec;
    }
}